@import '../styles/_reset.scss';
@import '../styles/_helpers.scss';
@import '../styles/_vars.scss';

.App {
	/* text-align: center; */
	background-color: cadetblue;
	inline-size: 100%;
	min-block-size: 100vh;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 0.5rem;
}
